.comments--container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.comment{
    display: flex;
    flex-direction: column;
}

.comment--creator{
    display: flex;
    gap: 10px;
}

.comment--buttons{
    display: flex;
    justify-content: end;
    align-content: space-between;
    margin-right: 10px;
    gap: 20px;
}

.comment--reply{
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: rgb(142, 141, 141);
    cursor: pointer;
    align-items: center;
}

.comment--reply img{
    width: 17px;
}

.replying--to--content{
    margin-left: 10px;
}
.replying--to{
    margin-top: 10px;
    border: 1px solid var(--border-color);
    padding: 10px;
}