.left--sidebar--container {
  grid-area: left-sidebar;
  padding: 15px;
  height: calc(100vh - 70px);
  overflow-y: hidden;
  position: sticky;
  top: 55px;
}

.left--sidebar--container:hover {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.main--container {
  grid-area: main;
}

.auto--margin {
  margin: auto;
  width: 80%;
}

.home--container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "main";
}

@media only screen and (min-width: 650px) {
  .home--container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: "left-sidebar main";
  }
}

@media only screen and (min-width: 1000px) {
  .home--container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "left-sidebar main";
  }
}
